<div class="navbar">
    <div class="navbar-left">
        <div class="navbar-title nav-left-item">
            [Sentiment app]
        </div>
        <div class="nav-left-item">
            <a routerLink="/search" routerLinkActive="active-link">Analyse</a>
        </div>
        <div class="nav-left-item">
            <a routerLink="/history" routerLinkActive="active-link">History</a>
        </div>
    </div>
    <div class="navbar_left dropdown" style="float: right;" >
        <button class="dropdown-btn" aria-label="User Actions" aria-haspopup="true" aria-expanded="false">
            <fa-icon  [icon]="faUser"></fa-icon>
        </button>
        <div class="dropdown-menu" role="menu" aria-hidden="true">
            <a routerLink="/user" class="dropdown-item" role="menuitem">User Profile</a>
            <a (click)="logout()" class="dropdown-item" role="menuitem">Log Out</a>
        </div>
    </div>
</div>
