<div class="navbar">
    <div class="navbar-left">
        <div class="navbar-title nav-left-item">
            [Sentiment app]
        </div>
        <div class="nav-left-item">
            <a routerLink="/search" routerLinkActive="active-link">Search</a>
        </div>
        <div class="nav-left-item">
            <a routerLink="/history" routerLinkActive="active-link">History</a>
        </div>
    </div>
    <div class="navbar_left dropdown" style="float: right;" >
        <button class="dropdown-btn">
            <fa-icon aria-button="header button to sing in/out and view the history" [icon]="faUser"></fa-icon>
        </button>
        <div class="dropdown-menu">
            <a routerLink="/user" class="dropdown-item">User Profile</a>
            <a (click)="logout()" class="dropdown-item">Log Out</a>
        </div>
    </div>
</div>
