.navbar{

  background: linear-gradient(var(--background-colour), transparent);


    height: 40px;
    padding: 10px 20px;
    position: sticky;
    left: 0;
    top: 0;
    // width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // color: var(--text-colour);

    a{
        color: var(--text-colour);
        font-size: 24px;
        text-decoration: none;
    }
}

/* Dropdown Button */
.dropdown-btn {
    background-color: transparent;
    border: none;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px 10px 0px 0px;
}  

.dropdown {
    position: relative;
    display: inline-block;

}  

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--dropdown-colour);
    color: var(--text-colour);
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    border-top-right-radius: 0px;
}
  
  /* Links inside the dropdown */
  .dropdown-menu a {
    color: var(--text-colour);
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
}
  
  /* Change color of dropdown links on hover */
  .dropdown-menu a:hover {
    background-color: var(--dropdown-hover-colour);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown:hover .dropdown-menu::before{
    content: "";
    position: absolute;

    top: -15px;
    right: 72.5px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-bottom-right-radius: 10px;
    box-shadow: 7.5px 0 var(--dropdown-colour);
  }
  
  .dropdown:hover .dropdown-btn {
    background-color: var(--dropdown-colour);
  }

fa-icon{
    color: var(--text-colour);
    font-size: 24px;
    margin: 0 10px;
}

.theme-switch {
    display: flex;
    width: 200px; /* Adjust the width as needed */
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--dropdown-colour);
    border: 1px solid var(--dropdown-hover-colour);
  }
  
  .toggle-option {
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    background-color: var(--switch-inactive-colour);
    transition: background-color 0.3s;
    color: var(--text-colour);
    font-weight: bold;
  }
  
  .toggle-option.active {
    background-color: var(--switch-active-colour) !important; /* Change to your desired active color */
    color: var(--text-colour); /* Change to your desired active text color */
  }
  
  .toggle-option:hover {
    background-color: var(--button-hover-colour); /* Change to your desired hover color */
  }
  
  /* Center the text vertically */
  .toggle-option::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .theme-switch input[type="checkbox"] {
    display: none; /* Hide the default checkbox input */
  }
  