.navbar{
  // background: var(--pr-colour);
  height: 40px;
  padding: 10px 20px;
  background-color: var(--background-colour);
  border-bottom: 1px solid var(--secondary-colour);
  
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    text-decoration: none;
    color: var(--text-colour);
    font-weight: 300;


    &:hover:not(.active-link){
      font-weight: 700;
      transition: font-weight 0.2s ease;
    }
  }

  .active-link{
    color: var(--primary-colour);
    font-weight: 900;
    transition: font-weight 0.5s ease;
  }

  .navbar-left{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    font-size: 1.5rem;

    .nav-left-item:not(:first-child){
      width: 80px;
    }
  }

  .navbar-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-colour);
    background: linear-gradient( 45deg, var(--primary-colour), var(--secondary-colour));    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
  }


}

.dropdown-btn {
    background-color: transparent;
    border: none;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px 10px 0px 0px;
}  

.dropdown {
    position: relative;
    display: inline-block;

}  

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--dropdown-colour);
    color: var(--text-colour);
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    border-top-right-radius: 0px;
}
  
  /* Links inside the dropdown */
  .dropdown-menu a {
    color: var(--text-colour);
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
}
  
  /* Change color of dropdown links on hover */
  .dropdown-menu a:hover {
    background-color: var(--dropdown-hover-colour);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown:hover .dropdown-menu::before{
    content: "";
    position: absolute;

    top: -15px;
    right: 72.5px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-bottom-right-radius: 10px;
    box-shadow: 7.5px 0 var(--dropdown-colour);
  }
  
  .dropdown:hover .dropdown-btn {
    background-color: var(--dropdown-colour);
  }

fa-icon{
    color: var(--text-colour);
    font-size: 28px;
    margin: 0 10px;
}