<div class="navbar">
    <div class="navbar__title navbar__item">
        <a [routerLink]="['/home']">[Sentiment app]</a>
    </div>
    <div class="navbar__item dropdown" style="float: right;" >
        <button class="dropdown-btn">
            <fa-icon aria-label="header button to sing in/out and view the history" [icon]="faUser"></fa-icon>
        </button>
        <div class="dropdown-menu">
            <a [routerLink]="['/history']" class="dropdown-item">History</a>
            <a href="/login" class="dropdown-item">Logout</a>
            <div class="theme-switch">
                <div class="toggle-option" [class.active]="isLightTheme" (click)="toggleTheme('light')">Light</div>
                <div class="toggle-option" [class.active]="!isLightTheme" (click)="toggleTheme('dark')">Dark</div>
            </div>
        </div>
    </div>

</div>