<div class="component">
  <div class="theme-bar">
    <div>
      Theme
    </div>
    <div class="theme-switch">
      <div class="toggle-option" [class.active]="isLightTheme" (click)="toggleTheme('light')">Light</div>
      <div class="toggle-option" [class.active]="!isLightTheme" (click)="toggleTheme('dark')">Dark</div>
  </div>
  </div>
  <form>
    <h2>Change Password</h2>
    <div class="form-group">
      <label for="oldPassword">Old Password:</label>
      <input type="password" [(ngModel)]="oldpassword"  id="oldPassword" name="oldPassword"><br><br>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password" [(ngModel)]="newpassword" id="newPassword" name="newPassword"><br><br>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm New Password:</label>
      <input [(ngModel)]="confirmPassword" type="password" id="confirmPassword" name="confirmPassword"><br><br>
    </div>
    <button type="submit" (click)="changePassword()">Change Password</button>
  </form>
  <div class="user-delete">
    <button (click)="showModal = true">Delete Account</button>
  </div>
</div>
<div class="modal" [ngClass]="{'show-modal': showModal}">
  <div class="modal-content">
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete your account?</p>
    <button (click)="deleteAccount()">Yes</button>
    <button (click)="showModal = false">No</button>
  </div>
</div>