.component{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
  margin-top: 3em;

  *{
    // display: flex;
    width: 100%;
    align-items: center;
    align-self: center;
  }

  h1 {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
    justify-content: center;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .user-delete{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: red;
    color: white;
    width: 200px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:hover {
      background-color: darkred;
    }
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 1rem;
    margin-top: 0;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--dropdown-colour);
    padding: 20px;
    border-radius: 20px;
    
    .form-group{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      float: left;
      clear: both;
      text-align: left;

    }
    
    input {
      padding: 0.5rem;
      border: 1px solid gray;
      border-radius: 10px;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    
    button[type="submit"] {
      background-color: green;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 10px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.3s ease;
      
      &:hover {
        background-color: darkgreen;
      }
    }
  }
}

.theme-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.theme-switch {
  display: flex;
  width: 200px; /* Adjust the width as needed */
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--dropdown-colour);
  border: 1px solid var(--dropdown-hover-colour);
  // gap: 20px;
}

.toggle-option {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  background-color: var(--switch-inactive-colour);
  transition: ease 0.3s;
  color: var(--background-colour);
  font-weight: bold;
}

.toggle-option.active {
  background-color: var(--switch-active-colour) !important; /* Change to your desired active color */
  color: var(--text-colour); /* Change to your desired active text color */
}

.toggle-option:hover:not(.active) {
  background-color: var(--primary-colour);
  color: var(--background-colour); /* Change to your desired hover color */
}

/* Center the text vertically */
.toggle-option::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.theme-switch input[type="checkbox"] {
  display: none; /* Hide the default checkbox input */
}