<div class="component" (keydown.enter)="logIn()">
  <div class="log-in-tile">
    <div class="component__title">
      <h1>[Sentiment]</h1>
      <h2>Log in</h2>
    </div>
    <div class="log-in-field">
      <div class="log-in-field__item">
        <input type="email" placeholder="E-mail" id="email" [(ngModel)]="email" required
        [ngClass]="{ 'error-border': emailError }"/>
      </div>
      <div class="log-in-field__item">
        <input type="password" placeholder="Password" (keypress.enter)="logIn()" id="password" [(ngModel)]="password" required    [ngClass]="{ 'error-border': passwordError }"/>
      </div>
      <div class="log-in-field__item">
        <button class="btn" (click)="logIn()">Log in</button>
      </div>
    </div>
    <a [routerLink]="['/register']">Don't have an account? Register here!</a><br>
  </div>
</div>