[data-theme="light"] {
  --background-colour: #ffffff;
  --text-colour: #000000;
  --dropdown-colour: #f5f5f5;
  --dropdown-hover-colour: #cdcdcd;
  --search-bar-colour: #ffffff;
  --button-hover-colour: #8DAAC2;
  --switch-inactive-colour: #9F9FBF;
  --switch-active-colour: #B8CEFF;
  --gradient-background: linear-gradient(48deg, #ffffff 0%, var(--secondary-colour) 35%, var(--primary-colour) 75%, var(--accent-colour) 97%); 
  --primary-colour: #7373ff;
  --secondary-colour: #b8b8ff;
  --accent-colour: #902fe4;
  
}

[data-theme="dark"] {
  --background-colour: #3c3c3c;
  --text-colour: #ffffff;
  --dropdown-colour: #2b2b2b;
  --dropdown-hover-colour: #444444;
  --search-bar-colour: #595959;
  --button-hover-colour: #8FABC2;
  --switch-inactive-colour: #8585AA;
  --switch-active-colour: #566775;
  --gradient-background: linear-gradient(48deg, #ffffff 0%, var(--primary-colour) 35%, var(--secondary-colour) 75%, var(--accent-colour) 97%); 
  --secondary-colour: #7373ff;
  --primary-colour: #b8b8ff;
  --accent-colour: #902fe4;

}