<div class="text-bar">
    <div class="search-bar">
        <h2 class="title">Check the sentiment</h2>
        <div class="toggle-switch">
            <div class="toggle-option" [class.active]="selectedInputType === 'url'" (click)="selectInputType('url')">URL</div>
            <div class="toggle-option" [class.active]="selectedInputType === 'text'" (click)="selectInputType('text')">Text</div>
        </div>
        <div class="input-bar">
            <input type="text" class="search-input" placeholder="Enter the subject of the article..." [(ngModel)]="articleSubject" required/>
        </div>

        <div class="input-bar" *ngIf="selectedInputType === 'url'">
            <input placeholder="Insert the link to the article here..." type="url" class="search-input" id="textInput" [(ngModel)]="articleUrl" (keyup.enter)="analyzeUrl()" />
        </div>
        <div class="input-bar" *ngIf="selectedInputType === 'text'">
            <textarea placeholder="Insert the article here..." class="search-input" [(ngModel)]="articleText" (keyup.enter)="analyzeText()" #textArea  ></textarea>

        </div>
        <div class="btn input-bar" (click)="analyzeUrl()" *ngIf="selectedInputType === 'url'">Analyze the URL
        </div>
        <div class="btn input-bar" (click)="analyzeText()" *ngIf="selectedInputType === 'text'">
            Analyze the Text
        </div>
    </div>


    <div class="results" *ngIf="aiResult">
        <div class="result-item">
            <h2 class="result-title">{{ aiResult.title }}</h2>
        </div>
        <!-- <div class="result-item">
            <div class="result-label">Sentiment: </div>
            <div class="result-value">{{ aiResult.sentiment }}</div>
        </div> -->
        <h2>Sentiment Analysis Results</h2>
        <div class="sentiments">
          <div *ngFor="let sentiment of sentimentResults.sentiments" class="sentiment">
            <h3>{{ sentiment.sentiment }}</h3>
            <ul>
              <li *ngFor="let text of sentiment.related_text">{{ text }}</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="loading-bar" *ngIf="isLoading">
        Loading
    </div>
</div>