.text-bar{
    width: 100%;
    height: 95%;
    display: flex;
    // top: 0;

    

    // vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // position: fixed;
    user-select: none;

    .title{
        font-size: 48px;
        font-weight: bold;
        margin: 10px;
    }

    .input-bar{
      display: flex;
      align-items: center;

      background-color: white;
      border: 2px solid var(--dropdown-hover-colour);
      color: black;
      width: 60%;
      flex-grow: 1;
      min-height: 50px;
      max-height: 500px;
      margin: 10px;
      font-size: 24px;
      border-radius: 40px;
      padding: 10px;
      // padding-top: 25px;
      white-space: pre-wrap;

      textarea{
        background-color: transparent;
        border: none;
        font-size: 20px !important;
        width: 100%;
        min-height: 24px;
        overflow: hidden;
        resize: none;
        height: 100%;
        padding: 0;
        outline: none;

      }
      
      textarea::placeholder{
        font-family: "Roboto", "Helvetica Neue", sans-serif;
      }

      .search-input{
        flex-grow: 1;
        background-color: transparent;
        border: none;
        font-size: 24px;
        width: 100%;
        height: 100%;
        outline: none;
      }

      .search-btn{
        cursor: pointer;
        background-color: transparent;
        border: none;
        margin-left: 10px;
        margin-right: 10px;
      }

    }
    .input-bar:has(textarea){
      height: 240px;
      padding: 15px 10px;
      textarea{
        height: 100%;
      }
    }
}

.results{
  background-color: var(--dropdown-colour);
  color: var(--text-colour);
  width: 60%;
  height: 60%;
  padding: 20px;
  border-radius: 15px;
  font-size: 24px;
  display: flex;
  user-select:text;
  margin-top: 15px;
  margin-bottom: 5%;

  position: relative;
  flex-direction: column;

  h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }

}

.toggle-switch {
  display: flex;
  width: 60%;
  border-radius: 5px;
  overflow: hidden;
  gap: 10px;
}

.toggle-option {
  flex: 1;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--switch-inactive-colour);

  transition: background-color 0.2s;
}

.toggle-option.active {
  background-color: var(--switch-active-colour);
}

.toggle-option:hover:not(.active) {
  background-color: var(--dropdown-colour);
  border: none;
}

.toggle-option::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.btn{
  background-color: var(--switch-active-colour) !important;
  font-size: 32px !important;
  justify-content: center;
  color: var(--text-colour) !important;
  transition: background-color 0.2s;
  &:hover{
    background-color: var(--button-hover-colour) !important;
  }
}



.loading{
  .sentiment-list{
    .sentiment-entry{
      .sentiment-type, .sentiment-text, .explanation{
        background-color: #cecece;
        background: linear-gradient(110deg, #c1c1c1 8%, #eeeeee 18%, #c1c1c1 33%);
        border-radius: 10px;
        margin-bottom: 10px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
      }
    }
  }

  @keyframes shine {
    to{
      background-position: -200% ;
    }    
  }
}

@keyframes rotate{
  100% {
    transform: rotate(360deg);
  }
}

.sentiment-type {
  font-weight: 700;
  margin-top: 5px;
  min-height: 30px;
  font-size: 28px;
}

.sentiment-text{
  margin-top: 5px;
  min-height: 40px;
}

.sentiment-list{
  overflow-y: auto;
}

.sentiment-entry{
}

.sentiment-entry:not(:first-child){
  margin-top: 15px;
}

.positive {
  color: rgb(0, 202, 0);
}

.neutral {
  color: rgb(246, 151, 49);
}

.negative {
  color: rgb(255, 50, 50);
}

.segment{
  flex-grow: 1;
  height: 100%;
  width: 0%;
  transition: width 0.5s;
}

.positive-segment{
  background-color: rgb(0, 202, 0);
}

.neutral-segment{
  background-color: rgb(246, 151, 49);
}

.negative-segment{
  background-color: rgb(255, 50, 50);
}

.explanation{
  margin-top: 5px;
  font-style: oblique;
  font-size: 20px;
  opacity:  0.8;
  min-height: 60px;
}

.sentiment-bar{
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 30px;
}