<div class="component">
  <div class="register">
    <div class="component__title">
      <h1>[Sentiment]</h1>
      <h2>Register</h2>
    </div>
    <div class="register-field">
      <div class="register__item">
        <input type="email" placeholder="E-mail" id="email" [(ngModel)]="email" required [ngClass]="{ 'error-border': emailError }"/>
      </div>
      <div class="register__item">
        <input type="password" placeholder="Password" id="password" [(ngModel)]="password" required/>
      </div>
      <div class="register__item">
        <input type="password" placeholder="Confirm password" id="confirmPassword" [(ngModel)]="confirmPassword" required/>
      </div>
      <div class="register__item">
        <button class="btn" (click)="register()">Register</button>
      </div>
    </div>
    <a [routerLink]="['/login']">Already have an account? Log in here!</a><br>
  </div>
</div>
